@mixin outlined($bordercolor) {
    margin: auto;
    border: 3px solid $bordercolor;
}

@mixin h3outline() {
    width: 75%;
    text-align: center;
    padding: 10px;
    background-color: $background-color;
    border: 3px solid $accent2;
}

@mixin animateh3() {
    animation-name: h3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}