$fonts-headlines: "Courgette", cursive;
$fonts-body: 'Oswald', sans-serif;
$background-color: #DEECE3;
$primary: #211C20;
$accent1: #333D38;
$accent2: #1b4442;
$sidebar: #1E1E1F;
$header-height: 200px;