@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@300&display=swap');

$fonts-headlines: "Courgette", cursive;
$fonts-body: 'Oswald', sans-serif;
$background-color: #DEECE3;
$primary: #211C20;
$accent1: #333D38;
$accent2: #1b4442;
$sidebar: #1E1E1F;

@mixin outlined($bordercolor) {
    margin: auto;
    border: 3px solid $bordercolor;
    width: 75%;
    padding: 0 20px;
    margin-top: -3px;
}

@mixin h3outline() {
    width: 60%;
    text-align: center;
    padding: 10px;
    background-color: $background-color;
    border: 3px solid $accent2;
}

body {
    font-family: $fonts-body;
    color: $primary;
}

h1, h2, h3 {
    font-family: $fonts-headlines;
}

h1 {
    font-size: 2.5em;
}

h3 {
    @include h3outline();
    font-size: min-max(auto, 22px);
    max-height: min-content;
}

header {
    height: 200px;
    background-image: url(./images/mountain.jpg);
    background-color: $accent2;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    border: 5px solid $accent2;
    color: white;
}

.main div, .preamble {
    position: relative;
    @include outlined($background-color);
    margin-top: 40px;
    :nth-child(2) {
        margin-top: 40px;
    }

    h3 {
        position: absolute;
        top: -45px;
        right: calc(25px + -16.5%);
    }
    h3 {
    background-color: #DEECE3;
    animation-name: h3;
    animation-duration: 4s;
    position: absolute;
    top: -45px;
    right: calc(25px + -16.5%);
    animation-iteration-count: infinite;
    }
    &:nth-of-type(2n) {
        h3 {
            left: calc(25px + -16.5%);
        }
    }
}

.summary {
    @include outlined($accent2);
}

@keyframes h3 {
    from {background-color:#DEECE3;}
    to {background-color: #1b4442}
  }